*{
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-kerning: 3px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.map {
    width: 100vw;
    height: 100vh;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted #c0e0eb;
}

.tooltip .tooltiptext {
  visibility: visible;
  width: 120px;
  background-color: rgba(2, 2, 104, 0.1);
  color: rgb(2, 2, 104);
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: -5px;
  right: 110%;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent rgba(2, 2, 104, 0.1);
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}

#text{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 30px;
  color: rgba(0, 0, 0, 0.877);
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  text-align: center;
}

.b:focus {
    outline: none;
}

.b input[id=text_] {
    padding: 12px;
    border: 0px;
    font-size: 17px;
    height: 44px;
    border-radius: 3px 0 0 3px;
}

.b input[id=text_]:focus, input[id=number_]:focus {
    outline: none;
}

.b button {
    float: right;
    padding: 12px 12px;
    background-color: rgb(255, 255, 255);
    font-size: 15px;
    border: none;
    cursor: pointer;
    border-radius: 0 3px 3px 0;
    height: 44px;
    color:  rgba(2, 2, 104, 1);
}

.b button:focus, button:hover {
    background-color: #f4f4f4;
    outline: none;
    
}

.b input[id=number_] {
padding: 12px;
font-size: 17px;
float: right;
border: none;
height: 44px;
width: 58px;
overflow: hidden;
resize: none;
}          

/*Make divider line in between search bar and icons*/

.b #search_container {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    border-bottom: 2px solid #020268;
    box-shadow: 0 1px 5px rgba(0,0,0,0.08);
    height: 44px;
}

.b #search_container:hover {
    box-shadow: 0 0 10px #ccc;
}


#submitadd:hover, #submitall:hover, #submit:hover, #submitrest:hover {
    background-color: rgba(2, 2, 104, 0.1);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
/*
.b button:hover {
    background-color: #add8e6;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
} */



.b .search-container #results {
    position: fixed;
    float: right;
    background-color: green;
    right: 0;
    left: 600px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin: 15px;
    overflow: auto;
    line-height: 2;
}


#submitadd, #submitall, #submitrest, #submit {
    padding: 8px;
    border: none;
    background: none;
    cursor: pointer;
}

#input_name, #input_nick, #input_area, #input_routenumber, #input_cartodb_id { 
    border: none;
    border-bottom: 1px solid #000000;
    outline: none;
}
#input_name:focus, #input_nick:focus, #input_area:focus, #input_routenumber:focus, #input_cartodb_id:focus { 
    border: none;
    border-bottom: 3px solid #020268;
}

#input_cartodb_id {
    float: right;
}

#popup {
    line-height: 35px;
}

@media only screen and (min-width: 900px) {
    /* For Desktop*/

    body {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        position: absolute;
    }

        .wrapper {
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            position: absolute;
            display: grid;
            grid-template-columns: 15px 1fr 1fr 1fr 1fr 105px;
            grid-template-rows: 10px 55px 1fr 15px 1fr 15px 1fr 15px 1fr 30px;
            width: 100vw;
            height: 100vh;
            margin: 0;
            padding: 0;
        }

        .a {
            grid-column: 1 / 12;
            grid-row: 1 / 11;
        }

        .b {
        
        position: relative;
        display: inline-block;
        }

        .b {
            grid-column: 5;
            grid-row: 2 / 3;
            background-position-x: center;
            background-position-y: center;
            z-index: 2;
        }


        .c {
            grid-column: 6 / 7;
            grid-row: 2 / 3;
            background-position-x: center;
            background-position-y: center;
            z-index: 2;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
        }

        .d {
            grid-column: 6;
            grid-row: 2;
        }
}

@media only screen and (max-width: 899px) {
    /* For Phones*/

    body {
        box-sizing: border-box;
        position: absolute;
    }

        .wrapper {
            box-sizing: border-box;
            position: absolute;
            display: grid;
            grid-template-columns: 15px 1fr 1fr 1fr 105px;
            grid-template-rows: 15px 55px 1fr 45px 220px 30px;
            width: 100vw;
            height: 100vh;
            margin: 0;
            padding: 0;
        }

        .a {
            grid-column: 1 / 6;
            grid-row: 1 / 7;
        }

        .b {
            grid-column: 4;
            grid-row: 2 / 3;
            background-position-x: center;
            background-position-y: center;
            z-index: 2;
        }
        .c {
            grid-column: 2 / 5;
            grid-row: 5;
            background-position-x: center;
            background-position-y: center;
            display: grid;
            grid-gap: 10px;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
        }

        .d {
            position: relative;
            z-index: 3;
            grid-column: 1 / 3;
            grid-row: 1;
        }

        .e {
            position: relative;
            z-index: 3;
            grid-column: 1 / 3;
            grid-row: 2;
        }
}
