*{
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-kerning: 3px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.map {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: fixed;
}


body {
    box-sizing: border-box;
    position: absolute;
    
}


#text{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 30px;
  color: rgba(0, 0, 0, 0.877);
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  text-align: center;
}

.b:focus {
    outline: none;
}

input[id=text_] {
    padding-left: 10px;
    border: 0px;
    font-size: 17px;
    height: 43px;
    border-top-left-radius: 5px;
}

input[id=text_]:focus, input[id=number_]:focus {
    outline: none;
}

.search {
    padding-left: 10px;
    padding-right: 5px;
    background-color: #fbfbfb;
    font-size: 17px;
    border: none;
    height: 42px;
    width: 70px;
    overflow: hidden;
    resize: none;
    right: 50px;
    border-left: 0.5px solid #80808078;
    border-right: 0.5px solid #80808078;
    position: absolute;
}

.inner-container {
    background-color: #fdfdfc;
    color: #020268;;
    border-radius: 5px;
    height: 43px;
    position: fixed;
    width: 200px;
    width: 150px;
    border: none;
    cursor: pointer;
    z-index: 5; 
}

.search-container:hover {
    box-shadow: 0 0 10px #ccc;
}


#submitadd:hover, #submitall:hover, #submit:hover, #submitrest:hover, .feed-button:hover {
    background-color: rgba(0, 16, 101, 0.1);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#submitadd, #submitall, #submitrest, #submit {
    padding: 8px;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 19px;
}

#input_name, #input_nick, #input_area, #input_routenumber, #input_cartodb_id { 
    border: none;
    border-bottom: 1px solid #000000;
    margin-bottom: 10px;
    outline: none;
}
#input_name:focus, #input_nick:focus, #input_area:focus, #input_routenumber:focus, #input_cartodb_id:focus { 
    border: none;
    border-bottom: 3px solid #020268;
}

.feed-button {
  float: left;
  width: 100%;
  border:none;
  cursor: pointer;
  background-color: #fbfbfb;
  color: rgb(0, 0, 0);
  font-size: 19px;
  padding-top: 22px;
  padding-bottom: 22px;
}

.feedback-input, .input-next {
  color: #000;
  font-weight: 500;
  font-size: 17px;
  line-height: 22px;
  padding: 3px 3px 3px 4px;
  margin-bottom: 10px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border: 3px solid rgba(0, 0, 0, 0);
  border-bottom: 1px solid #000000;
}

.feedback-input:focus, .input-next:focus {
    box-shadow: 0;
    border: none;
    border-bottom: 3px solid #020268;
    outline: none;
}


/* Icons ---------------------------------- */

#feedback-name:focus, #feedback-email:focus, #feedback-comment:focus  {
  background-size: 30px 30px;
  background-position: 8px 5px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
  border-bottom: 3px solid #020268;
}

#feedback-comment,  #feedback-email, #feedback-name .netlify-form-div {
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
  border-bottom: 1px solid #000000;
}

#feedback-comment {
  width: 100%;
  height: 150px;
  line-height: 150%;
  resize: vertical;
  border-bottom: 1px solid #000000;
}

input:hover,
#feedback-comment:hover,
input:focus{
  background-color: white;
}


#flagbtn, #locationbtn, #mailbtn {
    background-size: 300px 15px;
    background-color: #fdfdfc;
}

#flagbtn {
    background-image: linear-gradient(transparent, transparent), url('./icons/flag-solid.svg');
}

#locationbtn {
    background-image: linear-gradient(transparent, transparent), url('./icons/compass-solid.svg');
}

#mailbtn {
    background-image: linear-gradient(transparent, transparent), url('./icons/envelope-solid.svg');
}


#flagbtn:hover, #locationbtn:hover, #mailbtn:hover {
    background-color: #8d8d8d48;
}

.shadow {
  filter: drop-shadow( 0 0 5px #8b7c6f );
}

/* Contact box */

.net-button {
    cursor: pointer;
    background: none;
    border: none;
    padding: 10px;
}


.popup {
    height: 40px;
    background: rgb(255, 255, 255);
    width: 100px;
    line-height: 32px;
    -webkit-transform: rotate(-90deg);
    font-weight: 600;
    color: black;
    transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    text-align: center;
    font-size: 17px;
    position: fixed;
    left: -40px;
    top: 45%;
    z-index: 999;
    border: none;
}


.btn_mail {
    background: url(icons/envelope-solid.svg) no-repeat;
    background-color: rgb(255, 255, 255);
    font-size: 15px;
    border: none;
    cursor: pointer;
    height: 18px;
    width: 18px;
    transform: rotate(90deg);
}

.btn_plus {
    background: url(icons/plus-solid.svg) no-repeat;
    background-color: rgb(255, 255, 255);
    font-size: 15px;
    border: none;
    cursor: pointer;
    float: right
}

#close, .close-mass {
    float: right;
    display: block;
    padding: 2px 7px;
    background: #cccccc38;
    position: relative;
    top: -32px;
    color: #020268;
}

.netlify-form {
    background-color: rgb(255, 255, 255);
    padding: 15px;
    width: 200px;
    float: left;
    left: 35%;
    position: absolute;
    margin-top: 30px;
    margin-left: -260px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    box-shadow: 0 3px 14px rgba(0,0,0,0.2);
    z-index: 3000;
}

#nav-bar {
    border-bottom: 1px solid #0202681c;
    background-color: #fdfdfc;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.1);
    height: 45px;
    width: auto;
    position: fixed;
    left: 15px;
    top: 15px;
    padding: 5px
}

.leaflet-draw-tooltip {
	background: rgb(54, 54, 54);
	background: rgba(0, 0, 0, 0.5);
	border: 1px solid transparent;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	color: #fff;
	font: 12px/18px "Helvetica Neue", Arial, Helvetica, sans-serif;
	margin-left: -200px;
	margin-top: 0;
	padding: 4px 8px;
	position: absolute;
	visibility: hidden;
	white-space: nowrap;
    top : 90px;
    transform : translateX(7%);
	z-index: 6;
}

.leaflet-draw-tooltip:before {
	display: none;
}

@media only screen and (min-width: 630px) {
    /* For Desktop*/

    #flagbtn {
        margin-top: 30px;
    }

    #mailbtn, #locationbtn {
        margin-top: 10px;
    }

    .leaflet-draw.leaflet-control {
        margin-top: 30px;
    }
    .leaflet-top {
        top: 60px;
        }

    .leaflet-top.leaflet-right {
        top: 80px
    }

    #bar {
        position: absolute;
        width: 30px;
        right: 15px;
        top: 15px;
        background-color: #fdfdfc;
        padding: 10px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        margin-bottom: 15px;
        box-shadow: 0 1px 5px rgba(0,0,0,0.09);
        z-index: 700;
        height: 94%;
    }

    .rlogo {
        padding: 4px;
    }

    .search-container {
        background-color: #fdfdfc;
        height: 43px;
        width: 300px;
        position: fixed;
        right: 15px;
        top: 15px;
        box-shadow: 0 1px 5px rgba(0,0,0,0.09);
        border-bottom: 1px solid #0202681c;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
    }

    .overlay, .c-overlay {
        position: fixed;
        float: left;
        top: 22%;
        left: 45%;
    }

    .inner-div, .netlify-form {
        background-color: rgb(255, 255, 255);
        padding: 15px;
        width: 200px;
        float: left;
        left: 50%;
        position: absolute;
        margin-top: 30px;
        margin-left: -260px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        box-shadow: 0 3px 14px rgba(0,0,0,0.2);
    }

    #btn_submit {
        background: url(icons/search-solid.svg) no-repeat;
        margin: 12px;
        margin-right: 15px;
        float: right;
        background-color: #fdfdfc;
        font-size: 15px;
        border: none;
        cursor: pointer;
        border-radius: 0 3px 3px 0;
        height: 20px;
        width: 20px;
    
    }

}

@media only screen and (max-width: 629px) {
    /* For Phones*/

    .leaflet-top .leaflet-control {
        margin-top: 15px;
    }

    .rlogo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-top: 4px;
    }

    .search-container {
        background-color: #fdfdfc;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        box-shadow: 0 1px 5px rgba(0,0,0,0.09);
        height: 44px;
        position: fixed;
        left: 15px;
        right: 15px;
        bottom: 20px;
    }

    input[id="number_"] {
        font-size: 17px;
        border: none;
        height: 44px;
        width: 60px;
        overflow: hidden;
        resize: none;
        border-left: 0.5px solid #80808078;
        border-right: 0.5px solid #80808078;
    }

    #btn_submit {
        background: url(icons/search-solid.svg) no-repeat;
        margin: 12px;
        float: right;
        background-color: #fdfdfc;
        font-size: 15px;
        border: none;
        cursor: pointer;
        border-radius: 0 3px 3px 0;
        height: 20px;
        width: 20px;
        color:  rgba(2, 2, 104, 1);
    }

    .c-overlay {
        position: fixed;
        top: 11%;
        left: 200px;
        width: 200px;
        display: none;
    }
    .overlay {
        position: fixed;
        top: 11%;
        left: 3%;
        width: 200px;
        display: none;
    }

    #feedback-div, #response-div, #success-div, #no-results {
        background-color: rgb(255, 255, 255);
        padding: 15px;
        position: absolute;
        margin-top: 110px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        box-shadow: 0 3px 14px rgba(0,0,0,0.2);
    }


    #text{
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 30px;
        color: rgba(0, 0, 0, 0.877);
        transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        text-align: center;
    }
}